
<section id="admin_home" class="container">
  <div class="row">
    <h2>Site Structure</h2>
  </div>
  <div class="row">
    <div class="eight columns">
      <%= nested_pages(@pages) %>
    </div>
    <div class="four columns">
      <p><%= link_to 'New', "/editor" + new_admin_page_path %></p>
    </div>
  </div>
</section>
