<div class="container">
  <section id="new_page">
    <div class="row">
      <header class="twelve columns">
        <h1 id="title" class="mercury-region" data-type="simple"><%= @page.title %></h1>
      </header>
    </div>
    <div class="row">
      <div class="primary eight columns">
        <div class="mercury-region" data-type="editable" data-position="1" data-width="eight" data-label="primary">
          <p>Replace this text.</p>
          <p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

          <p>Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

          <p>Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
      <div class="sidebar four columns">
        <div class="mercury-region" data-type="editable" data-position="2" data-width="four" data-label="sidebar">
          <p>Replace this text.</p>
        </div>
      </div>
    </div>
  </section>
</div>