
<div id="two_column_layout" class="container" data-save-url="<%= mercury_update_admin_page_url(@page) %>">
  <div class="row">
    <div class="primary eight columns">
      <div id="area_0" class="mercury-region" data-type="editable">
        <%= areas[0].body %>
      </div>
    </div>
    <div class="sidebar four columns">
      <div id="area_1" class="mercury-region" data-type="editable">
        <%= areas[1].body %>
      </div>
    </div>
  </div>
</div>