# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Bridgeport::Application.config.secret_token = '0a5aded70dccc4b9ed3d068ca53957b21f7200fe3f1a3a11b0ee89061b3b72615dbfe8b58fec24f7c696f56c944668765222827af615324ca2f7de4308b4f7ac'
