
<div class="container">
  <section id="<%= @page.slug %>" class="row">
    <% @page.sorted_regions.each_with_index do |r, i| %>
    <div class="<%= "#{r.label} #{r.width}" %> columns">
      <%= raw a.body %>
    </div>
    <% end %>
  </section>
</div>