
<div id="two_column_layout" class="container">
  <div class="row">
    <div class="primary eight columns">
      <%= areas[0].body %>
    </div>
    <div class="sidebar four columns">
      <%= areas[1].body %>
    </div>
  </div>
</div>