<% 
h = {
    "1"=>"one", "2"=>"two", "3"=>"three", "4"=>"four", "5"=>"five", 
    "6"=>"six", "7"=>"seven", "8"=>"eight", "9"=>"nine", "10"=>"ten", 
    "11"=>"eleven", "12"=>"tweleve"
    }
%>
<div class="mercury-regions-panel">
  <p>Not finished yet.</p>
  <%= form_tag do %>
    <div class="field">
      <%= label_tag "Width" %>
      <%= select_tag "width", options_for_select(h) %>
    </div>
  <% end %>
</div>