@white:     #fcfcfc;
@grey1:     #e6e5e3;
@grey2:     #dedddc;
@grey3:     #d7d8d9;
@grey4:     #ccc;
@grey5:     #3d3d3d;
@grey6:     #2e2e2e;
@black:     #19191a;
@teal1:     #4b8b92;
@teal2:     #356c72;
@green1:    #649647;
@green2:    #507838;
@red1:      #d04232;
@red2:      #c43626;
@blue1:     #56acd6;
@blue2:     #4993b8;
@purple1:   #616882;
@purple2:   #4f5467;
@yellow1:   #ffdc50;
@yellow2:   #e3c960;

@red: #ca3838;
@blue: hsl(200,40%,50%);

@black:         #444;
@darkGrey:      #3c3c3c;
@darkGrey2:     #454542;
@lightGrey:     #d1d1d1;
@lightGrey2:    #e1e0e0;

@bk-color: @darkGrey;
@page-color: @white;

@type: @darkGrey2;

@blue-link: @blue;
@link: @blue-link;
@page: @page-color;
@lightBorder: @lightGrey;